<?xml version="1.0" encoding="utf-8"?>
<manifest package="de.j4velin.lib.colorpicker"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false">
        <activity
            android:name=".ExtractFromPhoto"
            android:theme="@style/LibTheme.Dialog"/>
    </application>
</manifest>